hibernate:
  show_sql: true
  logging:
    level:
      org:
        hibernate:
          SQL: DEBUG
          type:
            descriptor:
              sql:
                BasicBinder: TRACE

# Configuration H2
#spring:
#  datasource:
#    driverClassName: org.h2.Driver
#    password: password
#    url: jdbc:h2:mem:reservationApp
#    username: sa
#  h2:
#    console:
#      enabled: true
#  jpa:
#    hibernate:
#      ddl-auto: create-drop

# Configuration MySQL
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/marblapp
    username: root
    password: admin
    driver-class-name: com.mysql.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true

# Configuration OpenAPI - Swagger
spring-doc:
  swagger-ui:
    operationsSorter: method

# Configuration Actuator
management:
  endpoints:
    web:
      exposure:
        include: "*"
        exclude: "beans"

logging:
  level:
    root: info


application:
  security:
    jwt:
      secret-key: 649cd3fa8b0349001f6bbd69f1dcbbfa25b098bb7bd95b4d9a36688dcf7a0556
      expiration: 86400000 #1 day
      refresh-token:
        expiration: 604800000 #7 day